@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.yes_no {
  transition: transform 0.2s ease-in-out;
}

input[type='range'] {
  -webkit-appearance: none;
  height: 22px;
  width: 100%;
  background: rgb(243 244 246);
  border-radius: 11px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #002f6c;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.formatted-number::after {
  content: attr(data-value);
}
